<div class="header">
  <div class="header-up">
    <a type="button" class="header-button" href="#">
      <i class="fas fa-angle-left"></i>
    </a>
    <h3 class="header-title">Ventas</h3>
  </div>
  <div class="header-down">
    <div class="header-input">
      <input type="text" placeholder="Buscar Producto" />
    </div>
  </div>
</div>
<div class="carrito">
  <div class="carrito-header">
    <div class="carrito-header-up">
      <i class="fas fa-shopping-cart"></i>
      <div class="carrito-header-title">
        Carrito de Compras
      </div>
    </div>
    <div class="carrito-total">
      <p>Total</p>
      <label>{{total | currency:"$"}}</label>
    </div>
  </div>
  <div class="carrito-body">
    <div *ngFor="let articulo of articuloMostrar">
      <div class="carrito-item" *ngIf="articulo.cantidad > 0">
        <div class="carrito-item-caracteristicas">
          <p>{{articulo.descripcion}}</p>
          <label>{{articulo.precio | currency:"$"}} x {{articulo.cantidad }}</label>
        </div>
        <div class="carrito-item-icon">
          <button type="button" (click)="quitarItemCanasta(articulo.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="carrito-footer">
    <input type="text" placeholder="Celular" [(ngModel)]="celularClienteCarrito">
    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" [disabled]="venderCarritoDisabled" (click)="VenderCarrito()">VENDER</button>
  </div>
</div>

<div class="articulos row">
  <div class="articulo col-12 col-md-6 col-lg-4" *ngFor="let articulo of articuloMostrar">
    <div class="articulos-card">
      <div class="articulo-card-img">
        <img [src]="articulo.imagen" alt="">
      </div>
      <div class="articulos-card-p">
        <p>{{articulo.descripcion}}</p>
      </div>
    </div>
    <div class="articulos-buttons">
      <button type="button" class="articulos-button-menos" (click)="restarProducto(articulo.id)">
        <i class="fas fa-minus"></i>
      </button>
      <input type="number" [value]="articulo.cantidad" readonly>
      <button type="button" class="articulos-button-mas" (click)="sumarProducto(articulo.id)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reiniciarColores()"></button>
      </div>
      <div class="modal-body" *ngIf="bodyMetodoPago">
          <h3>Método de pago</h3>
          <p>Elige el metodo de pago de tu cliente</p>
          <div class="modal-body-metodoPago">
            <div class="modal-body-metodoPagos">
              <div type="button" class="metodoPagos" (click)="cambiarColorEf()" [ngStyle]="{'color':colorEf, 'background':fondoEf}">
                <i class="fas fa-money-bill-alt"></i>
              </div>
              <p>Efectivo</p>
            </div>
            <div class="modal-body-metodoPagos">
              <div type="button" class="metodoPagos" (click)="cambiarColorMv()" [ngStyle]="{'color':colorMv, 'background':fondoMv}">
                <i class="fas fa-wallet"></i>
              </div>
              <p>Movil</p>
            </div>
          </div>
          <button class="modal-body-button" [disabled]="venderModalDisabled" (click)="vender()">
            VENDER
          </button>
      </div>
      <div class="modal-body" *ngIf="bodyVender">
        <h3>Crear Cliente</h3>
        <p>Diligencia los siguientes campos con la información de tu cliente</p>
        <div class="modal-body-inputs">
          <input type="text" class="modal-body-input col-7" placeholder="Nombre" [(ngModel)]="txtNombre" (change)="cambioInput()">
          <input type="text" class="modal-body-input col-7" placeholder="Celular" [(ngModel)]="txtCelular" [value]="celularClienteCarrito" (change)="cambioInput()">
        </div>
        <button class="modal-body-button" [disabled]="registarDisabled" (click)="registrar()">
          REGISTRAR
        </button>
    </div>
    <div class="modal-body" *ngIf="bodyRegistroEx">
      <div class="modal-body-img">
          <i class="fa-solid fa-check"></i>
      </div>
      <h3>Registro Exitoso</h3>
      <button class="modal-body-button" [disabled]="registarDisabled" (click)="finalizar()" data-bs-dismiss="modal">
        FINALIZAR
      </button>
  </div>
    </div>
  </div>
</div>